<div class="col-6">
  <% if user_signed_in? %>
    <strong><%= post.user.username %></strong>
  <% else %>
    <strong>Sign in!</strong>
  <% end %>
</div>
<div class="col-6">
  <h6 class="md-heading">Title</h6>
  <p><%= post.post %></p>
  <%= link_to "Show this post", post %>
</div>


