<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div class="col-md-12 col-lg-12">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
