<p style="color: green"><%= notice %></p>

<div class="container">
  Posts
</div>


<div class="container">
    <div class="row border border-primary">
      <% @posts.each do |post| %>
        <div class="row border border-danger">
          <%= render post %>
        </div>
      <% end %>
    </div>
    <%= link_to "New post", new_post_path %>
</div>


